<h2>募集内容</h2>
<div class="card border-primary mb-3 w-75">
  <div class="card-body">
    <h4 class="card-title"><%= @recruitment.title %></h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item">開催日:<%= @recruitment.date %></li>
    <li class="list-group-item">出演料:¥<%= @recruitment.price %></li>
  </ul>
  <div class="card-body">
    <p class="card-text"><%= @recruitment.content %></p>
  </div>
  <div class="card-body">
    <div class="btn btn-primary">
      <p>応募</p>
    </div>
  </div>
</div>
