<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <br>
        <h2>ユーザー情報</h2>
        <br>
        <hr>
        <p>画像無し</p>
        <p>名前：<%= @user.name %></p>
        <h3>プロフィール</h3>
        <p><%= @user.description %></p>
        <p class="btn btn-success"><%=link_to "プロフィール編集", edit_user_registration_path %></p>
        <p class="btn btn-success"><%=link_to "投稿する", new_post_path %></p>
      </div>
      <div class="col-4">
        <br>
        <h2>チャット一覧</h2>
        <br>
        <br>
        <hr>
        <p><a href="/rooms/17"><strong>新規チャット</strong></a></p>
        <hr>
         <a href="/rooms" class="btn btn-info">チャット一覧を見る</a>
      </div>
    </div>
  </div>
</div>
