<ul class="list-group list-group-flush">
  <%=link_to post.title, post, class: "list-group-item"%>
  <div class="d-flex w-100 justify-content-between">
    <small><%= time_ago_in_words(post.created_at) %></small>
  </div>
</ul>
